
.icon-chat:before { content: '\e801'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-up-circled:before { content: '\f0aa'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
